{% extends '::index.html.twig' %}

{% block container %}

    <h1>Asset edit</h1>

    <form action="{{ path('asset_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        {{ form_widget(edit_form) }}
        <p>
            <button type="submit">Edit</button>
        </p>
    </form>

    <ul class="record_actions">
        <li>
            <a href="{{ path('asset') }}">
                Back to the list
            </a>
        </li>
        <li>
            <form action="{{ path('asset_delete', { 'id': entity.id }) }}" method="post">
                {{ form_widget(delete_form) }}
                <button type="submit">Delete</button>
            </form>
        </li>
    </ul>

{% endblock %}