{% extends '::index.html.twig' %}

{% block container %}

    <h1>Asset list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Path</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('asset_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.path }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('asset_show', { 'id': entity.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('asset_edit', { 'id': entity.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('asset_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>

{% endblock %}
