{% extends '::index.html.twig' %}

{% block container %}

    <h1>Asset creation</h1>

    <form action="{{ path('asset_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit">Create</button>
        </p>
    </form>

    <ul class="record_actions">
        <li>
            <a href="{{ path('asset') }}">
                Back to the list
            </a>
        </li>
    </ul>

{% endblock %}