.box-shadow(@value) {
    -webkit-box-shadow: @value;
    -moz-box-shadow: @value;
    box-shadow: @value;
}

.transition(@value) {
    -webkit-transition: @value; // Saf3.2+, Chrome
    -moz-transition: @value; // FF4+
    -o-transition: @value; // Opera 10.5+
    transition: @value;
}

.border-radius-clip() {
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

.border-radius(@value) {
    -webkit-border-radius: @value; // Saf3-4, iOS 1-3.2, Android ≤1.6
    -moz-border-radius: @value; // FF 1-3.6
    border-radius: @value; // Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+
}

.border-radius(@topleft, @topright, @bottomright, @bottomleft) {
    -webkit-border-top-left-radius: @topleft;
    -webkit-border-top-right-radius: @topright;
    -webkit-border-bottom-right-radius: @bottomright;
    -webkit-border-bottom-left-radius: @bottomleft;
    -moz-border-radius: @topleft @topright @bottomright @bottomleft;
    border-radius: @topleft @topright @bottomright @bottomleft;
}

.border-top-right-radius(@value) {
    -webkit-border-top-right-radius: @value;
    -moz-border-radius-topright: @value;
    border-top-right-radius: @value;
}

.border-bottom-right-radius(@value) {
    -webkit-border-bottom-right-radius: @value;
    -moz-border-radius-bottomright: @value;
    border-bottom-right-radius: @value;
}

.border-bottom-left-radius(@value) {
    -webkit-border-bottom-left-radius: @value;
    -moz-border-radius-bottomleft: @value;
    border-bottom-left-radius: @value;
}

.border-top-left-radius(@value) {
    -webkit-border-top-left-radius: @value;
    -moz-border-radius-topleft: @value;
    border-top-left-radius: @value;
}

.vendorGradient(@from, @to, @start, @end, @type, @webkit-align) {
    @fromhex: argb(@from);
    @tohex: argb(@to);

    background-image: -webkit-gradient(linear, @webkit-align @start, @webkit-align @end, from(@from), to(@to)); // Saf4+, Chrome
    background-image: -webkit-linear-gradient(@start, @from, @to); // Chrome 10+, Saf5.1+, iOS 5+
    background-image: -moz-linear-gradient(@start, @from, @to); // FF3.6
    background-image: -o-linear-gradient(@start, @from, @to); // Opera 11.10+
    background-image: linear-gradient(to @end, @from, @to);
    filter: ~"progid:DXImageTransform.Microsoft.gradient(GradientType=@{type},startColorstr='@{fromhex}',endColorstr='@{tohex}')"; // IE6–IE9
}

.gradientV(@from, @to) {
    .vendorGradient( @from, @to, top, bottom, 0, left );
}

.gradientH(@from, @to) {
    .vendorGradient( @from, @to, left, right, 1, top );
}

.opacity(@value) {
    @percent: @value * 100;
    opacity: @value;
    filter: ~"Alpha(opacity={@percent})"; // IE6-IE8
}

.padding-box() {
    -webkit-box-sizing: padding-box;
    -moz-box-sizing: padding-box;
    box-sizing: padding-box;
}

.border-box() {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix(@clear: both) {
    &:after {
        content: "";
        display: block;
        clear: @clear;
        visibility: hidden;
    }
}

// for fast image rendering
.image-pixelate () {
    image-rendering: -moz-crisp-edges;         // Firefox
    image-rendering:   -o-crisp-edges;         // Opera
    image-rendering: -webkit-optimize-contrast;// Webkit (non-standard naming)
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;  // IE (non-standard property)
}