
// this file here contains the overall style of the filedrop
// it only needs to be included once

@import "css3";
@import "filedrop-template";

@pagebg: #fff;
@green: #1fac05;


//////////////
// FILEDROP //
//////////////


.filedrop {
    @item-width: 110px;
    @item-height: 85px;
    position: relative;
    background-color: #ddd;
    overflow: hidden;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 15px;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    display: inline-block;
    .box-shadow(0 1px 5px #aaa inset);
    .filedrop-template(126px, 85px);

    &.filedrop-with-title {
        padding-top: 15px;

        > label {
            display: block;
            width: 100%;
            margin-top: -15px;
            text-shadow: 0 1px #fff;
            background-color: #ddd;
            .box-shadow(~"0 1px 3px #555, 0 1px 3px #999 inset");
        }
    }

    &.drop-over, &:active, &:focus {
        background-color: #ccc;
    }

    .fullsize-file-input {
        position: absolute;
        bottom: 0;
        right: 0px;
//        width: 657px;
//        font-size: 30px; // may help making the input bigger
//        cursor: pointer;
//        .opacity(0);
    }

    .placeholder {
        position: absolute;
        display: table;
        padding: 5px;
        span {
            display: table-cell;
            vertical-align: middle;
            text-shadow: 0 1px #fff, 0 0 2px #999;
            color: #666;
        }
    }

    .dropzone-item {
        position: relative;
        z-index: 10;
        margin: 5px;
        float: left;
        overflow: hidden;
        .box-shadow(0 1px 3px #666);

        .close {
            position: absolute;
            right: 3px;
            top: 0;

            cursor: pointer;
            color: #aaa;
            font-weight: bold;
            font-size: 20px;

            &:hover {
                color: #ccc;
            }
            &:before {
                content: "×";
            }
        }

        .item-image {
            background-color: @pagebg;
            display: table-cell;
            vertical-align: middle;
            img {
                // the loading border appears to create a border on the bottom
                padding-top: 3px;
                margin: -3px 0;
            }
        }

        .item-info {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;

            .item-text {
                padding: 10px 0 3px;
                height: 15px;
                overflow: hidden;
                .gradientV(rgba(0,0,0,0), rgba(0,0,0,.2));
                font-weight: bold;
                color: #fff;
                text-shadow: 0 0 2px rgba(0,0,0,.8);
            }

            .item-progress {
                position: absolute;
                bottom: 0;
                width: 100%;

                // this is needed so I can set the opacity
                // a border with rgba would be nicer but isn't supported by ie8
                &:after {
                    position: absolute;
                    bottom: 0;
                    content: "";
                    display: block;
                    width: 100%;
                    border-bottom: 3px solid #000;
                    .opacity(0.2);
                }

                .item-progress-bar {
                    position: absolute;
                    bottom: 0;
                    width: 0%; // will be set by javascript
                    border-bottom: 3px solid @green;
                    .transition(width .2s);

                    &.failed {
                        border-bottom-color: #900;
                    }
                }
            }
        }
    }
}