
// this template should be used to resize the filedrop
// it can be included in every less file as it doesn't write into it, only defines the template

// .video.filedrop {
//     .filedrop-template(60px, 60px)
// }

.filedrop-template(@item-width, @item-height, @h-items: 1, @v-items: 1) {
    @item-border-size: 10px;
    @real-item-width: @item-width - @item-border-size;
    @real-item-height: @item-height - @item-border-size;
    width: @item-width * @h-items;
    min-height: @item-height * @v-items;

    .fullsize-file-input {
        height: @item-height * 2;
    }

    .placeholder {
        width: (@item-width * @h-items);
        height: (@item-height * @v-items);
    }

    .dropzone-item {
        .item-image {
            width: @real-item-width;
            height: @real-item-height;
            img {
                max-width: @real-item-width;
                max-height: @real-item-height - 10px;
            }
        }
    }
}