{% block hn_assetbundle_asset_widget %}
{% spaceless %}
    {% set attr = attr|merge({ 'class': attr.class|default('') ~ ' filedrop' }) %}

    <div data-field-name="{{ full_name }}"
         data-upload-url="{{ path(form.vars.fileUploadAction, form.vars.fileUploadParams) }}"
        {% if multiple %} data-multiple-file="multiple"{% endif %}
        {# stolen from block widget_attributes #}
        {% for attrname, attrvalue in attr %}
            {% if attrname in ['placeholder', 'title'] %}
                {{ attrname }}="{{ attrvalue|trans({}, translation_domain) }}"
            {% else %}
                {{ attrname }}="{{ attrvalue }}"
            {% endif %}
        {% endfor %}>

        <div class="placeholder">
            {% if placeholder is empty and html_placeholder is empty %}
                {% set placeholder = orm.vars.placeholder %}
            {% endif %}
            <span>
                {% if html_placeholder is not defined %}
                    {% if placeholder is empty %}
                        {% set placeholder = orm.vars.placeholder %}
                    {% endif %}
                    {{ placeholder }}
                {% else %}
                    {% autoescape false %}
                        {{ html_placeholder }}
                    {% endautoescape %}
                {% endif %}
            </span>
        </div>

        {% for asset in form.vars.assets %}
            <div class="dropzone-item">
                <a class="close"></a>
                <a class="item-image" href="{{ asset.webPath }}" target="_blank">
                    <img src="{{ asset.path|imagine_filter('thumbnail') }}" alt="" />
                </a>
                <input type="hidden" name="{{ full_name }}" value="{{ asset.id }}" />
            </div>
        {% endfor %}

        <button class="btn btn-normal file-upload-btn">{{ multiple ? 'add file' : 'choose file' }}</button>
    </div>
{% endspaceless %}
{% endblock %}